:root{
  --a:0;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: roboto;
}

.container {
  display: flex;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}

.close img {
  display: none;
}

.right {
  width: 75vw;
}

.home ul li {
  list-style: none;
  display: flex;
  gap: 15px;
  width: 14px;
  padding-top: 14px;
  font-weight: 700;
  font-weight: bold;
}

.library {
  min-height: 80vh;
}

.heading {
  list-style: none;
  display: flex;
  padding-top: 14px;
  margin-left: -10px;
  gap: 15px;
  padding-bottom: 114px;
  padding: 23px 14px;
  font-weight: 700;
  font-size: 11px;
  align-items: center;
}

.right .header {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  background-color: rgb(34, 34, 34);
  height: 72px;
}

.header > * {
  padding: 20px;
}

.right {
  margin: 16px 0px;
  position: relative;
}

.spotify-playlist {
  padding: 16px;
}

.card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px;
  overflow: auto;
  max-height: 70vh;
}

.card {
  width: 200px;
  padding: 10px;
  background-color: #343434;
  border-radius: 5px;
  position: relative;
  transition: all .9s;
}

.card:hover{
  background-color: rgb(90, 86, 86);
  cursor: pointer;
  --a:1;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}


.play {
  display: flex;
  color: black;
  justify-content: center;
  /* align-items: center; */
  padding: 12px;
  font-size: 20px;
  width: 20px;
  /* height: 40px; */
  background-color: #1ed760;
  border-radius: 100%;
  position: absolute;
  top: 163px;
  right: 17px;
  opacity: var(--a);
  transition: all 1s ease-out;
}

.buttons > * {
  margin: 0px 16px;
}

.sign-up-btn {
  font-style: bold;
  background-color: rgb(34, 34, 34);
  color: rgb(156, 148, 148);
  font-size: 16px;
  border: none;
  outline: 16px;
}

.sign-up-btn:hover {
  font-size: 17px;
  color: white;
  cursor: pointer;
}

.log-in-btn {
  background-color: white;
  border-radius: 19px;
  color: black;
  font-weight: bold;
  padding: 10px;
  padding: 10px;
  width: 75px;
  cursor: pointer;
}

.log-in-btn:hover {
  padding: 11px;
  font-weight: bold;
}

.playbar {
  position: fixed;
  bottom: 30px;
  background-color: #dad5d5;
  width: 90%;
  width: 70vw;
  min-height: 40px;
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 19px;
  font-size: 20px;
  /* color: #b3b3b3; */
  color: black;
  filter: invert(1);
  border-radius: 13px;
}

.song-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  font-size: 140px;
}

.song-list {
  overflow: auto;
  height: 550px;
  margin-bottom: 44px;
}

.song-list ul {
  padding: 0px 10px;
}

.song-list ul li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #333;
  margin: 8px 0;
  color: white;
  border-radius: 5px;
  background: #222;
}

.song-list :hover {
  cursor: pointer;
}

.song-list ul li .icon {
  width: 30px;
  font-size: 0px;
  text-align: center;
  padding-right: 20px;
}

.song-list ul li .info {
  width: 200px; /* 🔥 fixed width so all align */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  display: flex;
}

.song-list ul li .info span {
  font-weight: 600;
  font-size: 13px;
  align-items: start;
}

.song-list ul li .info div {
  font-size: 12px;
  color: #aaa;
}

.song-list ul li .play-now {
  margin: 0 15px;
  font-size: 12px;
  color: #aaa;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
}
/* .song-list ul li{
  padding: 0px 42px;
  list-style-type: none;
  gap: 34px;
  color: white;
  cursor: pointer;
padding: 12px 0px;
display: flex;
} */

.song-list ul li i {
  font-size: 20px;
}

.hamburger {
  display: none;
}

.hamburger-container {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 201px;
}

li i {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
li .info {
  font-size: 14px;
  align-items: center;
}

li .info .song-buttons {
  font: weight 600px;
  font-weight: 600 solid #ffffff;
  height: auto;
}

.seek-bar {
  height: 4px;
  width: 98%;
  border-radius: 10px;
  background: black;
  position: absolute;
  bottom: 0px;
  margin: 6px;
  cursor: pointer;
}

.circle {
  height: 13px;
  width: 13px;
  border-radius: 13px;
  background-color: black;
  position: relative;
  bottom: 6px;
  left: 0%;
  transition: left 0.5s;
}

.time-vol {
  display: flex;
  justify-content: space-between; /* pushes left and right apart */
  align-items: center;
  cursor: pointer;
}

.range {
  cursor: pointer;
}

.song-time {
  width: 125px;
  padding: 0px 12px;
  color: black;
}
.volume {
  display: flex;
  /* flex-direction: column; */
  gap: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.song-info {
  padding: 0px 12px;
  color: black;
  width: 250px;
}

.above-bar {
  display: flex;
  justify-content: space-between; /* pushes left and right apart */
  align-items: center;
  width: 100%;
}

@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -120%;
    transition: all 0.3s;
    z-index: 1;
    width: 370px;
    background-color: black;
  }

  .left .close img {
    position: absolute;
    right: 30px;
    top: 24px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .time-vol {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }

  .right {
    width: 100vw;
    margin: 0;
  }

  .seek-bar {
    width: calc(100vw - 70px);
  }
  .playbar {
    width: calc(100vw - 70px);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .card {
    width: 44vw;
  }

  .card-container {
    margin: 0px;
    justify-content: center;
  }
  .above-bar {
    margin: px 0px;
    font-size: large;
  }

  .close img {
    display: block;
  }

  .above-bar {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .spotify-playlist h1 {
    padding: 16px;
  }
}

@media (max-width: 400px) {
  .card {
    width: 84vw;
  }
}
